<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Power Monitor</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- SweetAlert2 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.2.0/sweetalert2.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.2.0/sweetalert2.all.min.js"></script>

    <link rel="stylesheet"  type="text/css" href="/static/custom_css.css">
</head>
<body class="text-center">
    {% include 'navbar.html' %}

    {%  with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <script>
                    swal(
                        'Success',
                        '{{ message }}',
                        'success'
                    )
                </script>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div align="center" class="container">
        <h1 class="cover-heading">Statistics</h1>
        <p class="lead">The following page allows you to query the database using sql queries. New queries can be added and existing queries can be deleted or altered.
        For a query to properly be displayed, it should return tuples of values, which will be put into a table. In order for them to be properly and clearly displayed
        one should specify column names. </p>
        <br>
        <br>
        <br>
        <h3>Existing Queries</h3>
        <div class="container">
            {% if queries %}
                {% for query in queries %}
                    <div class="row">
                        <div class="offset-1 col-3">
                            <p>
                                {{ query.0 }}
                            </p>
                        </div>
                        <div class="col-3">
                            <p>
                                {{ query.1 }}
                            </p>
                        </div>
                        <div class="col-2">
                            <button type="button" class="btn btn-light btn-block" id="edit">edit</button>
                        </div>
                        <div class="col-2">
                            <button type="button" class="btn btn-light btn-block" id="remove">remove</button>
                        </div>
                     </div>
                {% endfor %}
            {% else %}
                <div class="row">
                    <p>No queries have been found.</p>
                </div>
            {% endif %}
        </div>
        <br>
        <br>
        <h3>New Query</h3>
        <br>
        <form action="/add_query" method="POST" enctype="multipart/form-data">
            <div class="form-group row">
                <label for="ip" class="offset-1 col-3 col-form-label">Query name: </label>
                <div class="col-7">
                    <input type="text" class="form-control" id="query name" name="query name" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="start-date" class="offset-1 col-3 col-form-label">Query: </label>
                <div class="col-7">
                    <textarea class="form-control" rows="8" id="query" name="query" required></textarea>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-2 offset-5">
                    <button type="submit" class="btn btn-light btn-block">Update settings</button>
                </div>
            </div>
        </form>
    </div>
    <script>
        $(function(){
            $('#edit').click(function() {
                alert("Hello");
            });
        });
    </script>
</body>
</html>